<!DOCTYPE html>
{% load static from staticfiles %}
{% load embed_video_tags %}
<html lang="en">
	<head>
		 <meta charset="UTF-8" />
		 <title>CyborgDev</title>
	</head>
	<body>
		{% if user and not user.is_anonymous %}
	 		<a href="">Logout</a>
	 	{% else %}
	 		<a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">
	 			Enter with Facebook
	 		</a>
	 	{% endif %}
	 	{% for web_header in web_headers %}
			<video controls autoplay>
				<source src="{{web_header.video_file.url }}" type="video/mp4">
					Your browser does not support the video tag.
			</video>
	 	{% endfor %}
	</body>
</html>